* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #CCC;
}

.container {
    width: 1000px;
    max-width: 100%;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.score1 {
    font-size: 1.5rem;
}

.choice {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 5rem;
}

.icon {
    cursor: pointer;
    font-size: 5rem;
    border: none;
    background-color: #CCC;
    transition: 100ms;
}

.score {
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.results {
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
    flex-direction: column;
}

.flexy {
    display: flex;
    width: 550px;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
}

.resultIcon {
    font-size: 2rem;
    margin: 1rem 0;
    transition: 100ms;
    opacity: .5;
    text-align: center;
    width: 80px;
}

.big{
    font-size: 3.5rem;
    opacity: 1;
}

.playerResult, .computerResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}